@mixin d-flex ($justify, $margin){
    display: flex;
    justify-content: $justify;
    margin: $margin;
}
  
$paleta:(
    'uno':$mainColor,
    'dos':$econdaryColor,
);

.bg-aquamarine{
    background-color:map-get($map: $paleta, $key:uno);
}

h5{
    color:map-get($map: $paleta, $key:dos);
}
